// Заголовки, загальні БЕМ блоки та інше...
.title {
	// .title__label
	&__label {
		@include adaptiveValue("font-size", 20, 16);
		text-transform: uppercase;
		color: $brownColor;
		line-height: 115%; /* 23/20 */
		letter-spacing: 4px;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 27, 15);
		}
	}
	// .title__value
	&__value {
		font-family: Philosopher;
		text-transform: capitalize;
		color: $greenColor;
		@include adaptiveValue("font-size", 50, 36);
		font-weight: 700;
		line-height: normal;
	}
	// .title__value--big
	&__value--big {
		@include adaptiveValue("font-size", 80, 42);
	}
	&__value--small {
		@include adaptiveValue("font-size", 30, 22);
	}
}
.text {
	font-weight: 300;
	line-height: 1.5;
	@include adaptiveValue("font-size", 20, 17);
}
.button {
	color: #fff;
	background-color: $greenColor;
	line-height: normal;
	padding: toRem(12) toRem(50);
	text-align: center;
	min-height: toRem(50);
	border-radius: toRem(25);
	transition: all 0.5s;
	@media (max-width: $mobileSmall) {
		width: 100%;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #595c4a;
		}
	}
}
.slider-arrows {
}
.slider-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	height: toRem(50);
	width: toRem(50);
	border-radius: 50%;
	transition: background-color 0.4s;
	@media (max-width: $mobile) {
		background-color: #cfd4af;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #d2d8a8;
		}
	}
	&_prev {
		img {
			transform: rotate(180deg);
		}
	}
	&_next {
	}
}
