// Заголовки, загальні БЕМ блоки та інше...
.title {
	// .title__label
	&__label {
		@include adaptiveValue("font-size", 20, 16);
		text-transform: uppercase;
		color: $brownColor;
		line-height: 115%; /* 23/20 */
		letter-spacing: 4px;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 27, 20);
		}
	}
	// .title__value
	&__value {
		font-family: Philosopher;
		color: $greenColor;
		font-size: toRem(50);
		font-weight: 700;
		line-height: 112%; /* 56/50 */
	}
	// .title__value--big
	&__value--big {
		@include adaptiveValue("font-size", 80, 40);
	}
}
.text {
	font-weight: 300;
	line-height: 1.5;
	@include adaptiveValue("font-size", 20, 18);
}
.button {
	color: #fff;
	border: toRem(1) solid $greenColor;
	background-color: $greenColor;
	line-height: normal;
	padding: toRem(11) toRem(50);
	text-align: center;
	min-height: toRem(50);
	border-radius: toRem(25);
	transition: all 0.5s;
	@media (max-width: $mobileSmall) {
		width: 100%;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #fff;
			color: $greenColor;
		}
	}
}
