//====================================================================================================
.footer {
	background-color: #dee2bd;
	@include adaptiveValue("padding-top", 70, 20);
	&__container {
		@include adaptiveValue("margin-bottom", 60, 30);
	}
	&__body {
	}
	&__columns {
		display: grid;
		grid-template-columns: 37% 26% 37%;
		align-items: center;
		justify-items: center;
		gap: toRem(30);
		@media (max-width: $mobile) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: auto;
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&--logo {
			grid-row-start: span 2;
		}
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	&__contacts {
	}
	&__logo {
		@include adaptiveValue("margin-bottom", 32, 20);
	}
	&__social {
	}
	&__navigation {
	}
	&__arrow {
	}
	&__arrow--top {
	}
	&__copy {
		padding: toRem(22);
		font-size: toRem(16);
		text-align: center;
		margin-top: toRem(20);
		border-top: solid toRem(1) #7d806a;
	}
}
.contacts-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: toRem(10);
	&__item {
		font-size: toRem(16);
		text-transform: capitalize;
		text-align: center;
	}
}
.social {
	&__items {
		display: flex;
		@include adaptiveValue("gap", 39, 15);
		justify-content: center;
		flex-wrap: wrap;
	}
	&__item {
		width: toRem(24);
		height: toRem(24);
	}
	&__link {
	}
}
//====================================================================================================
