//====================================================================================================
.main {
	position: relative;
	// .main__container
	&__container {
		@include adaptiveValue("padding-top", 170, 75);
		@include adaptiveValue("padding-bottom", 250, 30);
	}
	// .main__body
	&__body {
		@include adaptiveValue("padding-top", 144, 75);
		position: relative;
		z-index: 2;
	}
	// .main__title
	&__title {
		max-width: toRem(780);
	}
	// .main__text
	&__text {
		max-width: toRem(660);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 49, 20);
		}
	}
	// .main__button
	&__button {
	}
	// .main__image-ibg
	&__image {
		min-height: toRem(200);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.title__value {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 27, 20);
	}
}
//====================================================================================================
.advantages {
	@include adaptiveValue("padding-top", 65, 30);
	@include adaptiveValue("padding-bottom", 50, 15);
	&__container {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("gap", 70, 30);
		@media (max-width: $tablet) {
			grid-template-columns: auto;
		}
	}
	&__image {
		justify-self: end;
		img {
			max-width: 100%;
		}
		@media (max-width: $tablet) {
			justify-self: center;
			order: 2;
		}
	}
	&__content {
		@media (max-width: $tablet) {
			order: 1;
		}
	}
	&__label {
	}
	&__title {
	}
	&__text {
	}
	&__button {
	}
}
//========================================================================================================================================================
.why {
	@include adaptiveValue("padding-top", 50, 15);
	@include adaptiveValue("padding-bottom", 50, 15);
	&__container {
		max-width: toRem(1284);
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20);
		}
	}
	&__label {
	}
	&__title {
	}
	&__text {
		text-align: center;
		@media (min-width: $tablet) {
			max-width: toRem(908);
		}
	}
	&__items {
		display: flex;
		align-items: end;
		justify-content: space-between;
		gap: toRem(30);
		flex-wrap: wrap;
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("gap", 51, 20);
	}
}
.item-why {
	&__image {
		width: toRem(112);
	}
	&__title {
	}
}
