//====================================================================================================
.main {
	position: relative;
	// .main__container
	&__container {
		@include adaptiveValue("padding-top", 170, 75);
		@include adaptiveValue("padding-bottom", 250, 30);
	}
	// .main__body
	&__body {
		@include adaptiveValue("padding-top", 144, 75);
		position: relative;
		z-index: 2;
	}
	// .main__title
	&__title {
		max-width: toRem(780);
	}
	// .main__text
	&__text {
		max-width: toRem(660);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 49, 20);
		}
	}
	// .main__button
	&__button {
	}
	// .main__image-ibg
	&__image {
		min-height: toRem(200);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.title__value {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 27, 20);
	}
}
//====================================================================================================
.advantages {
	@include adaptiveValue("padding-top", 65, 30);
	@include adaptiveValue("padding-bottom", 100, 30);
	// .advantages__container
	&__container {
		display: flex;
		align-items: center;
	}
	// .advantages__image
	&__image {
		flex: 1 1 50%;
		padding-right: toRem(70);
	}
	// .advantages__content
	&__content {
		flex: 1 1 50%;
	}
}
.title {
	// .title__label
	&__label {
	}
	// .title__value
	&__value {
	}
}
.main {
	// .main__text
	&__text {
	}
	// .main__button
	&__button {
	}
}
