//====================================================================================================
.main {
	position: relative;
	// .main__container
	&__container {
		@include adaptiveValue("padding-top", 170, 75);
		@include adaptiveValue("padding-bottom", 250, 30);
	}
	// .main__body
	&__body {
		@include adaptiveValue("padding-top", 144, 75);
		position: relative;
		z-index: 2;
	}
	// .main__title
	&__title {
		max-width: toRem(780);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 27, 20);
		}
	}
	// .main__text
	&__text {
		max-width: toRem(660);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 49, 20);
		}
	}
	// .main__button
	&__button {
	}
	// .main__image-ibg
	&__image {
		min-height: toRem(200);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
//====================================================================================================
.advantages {
	background-color: $bgColor;
	@include adaptiveValue("padding-top", 65, 30);
	@include adaptiveValue("padding-bottom", 50, 20);
	&__container {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("gap", 70, 30);
		@media (max-width: $tablet) {
			grid-template-columns: auto;
		}
	}
	&__image {
		justify-self: end;
		img {
			max-width: 100%;
		}
		@media (max-width: $tablet) {
			justify-self: center;
			order: 2;
		}
	}
	&__content {
		@media (max-width: $tablet) {
			order: 1;
		}
	}
	&__label {
	}
	&__title {
		max-width: toRem(524);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 36, 20);
		}
	}
	&__text {
	}
	&__button {
	}
}
//========================================================================================================================================================
.why {
	background-color: $bgColor;
	@include adaptiveValue("padding-top", 50, 20);
	@include adaptiveValue("padding-bottom", 50, 20);
	&__container {
		max-width: toRem(1284);
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20);
		}
	}
	&__label {
	}
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 36, 20);
		}
	}
	&__text {
		text-align: center;
		@media (min-width: $tablet) {
			max-width: toRem(908);
		}
	}
	&__items {
		display: flex;
		align-items: end;
		justify-content: space-between;
		gap: toRem(30);
		flex-wrap: wrap;
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("gap", 51, 20);
	}
}
.item-why {
	&__image {
		width: toRem(112);
	}
	&__title {
	}
}
//========================================================================================================================================================
.brends {
	background-color: $bgColor;
	@include adaptiveValue("padding-top", 50, 20);
	@include adaptiveValue("padding-bottom", 50, 20);
	&__container {
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 36, 20);
		}
	}
	&__arrows {
		display: flex;
		gap: toRem(23);
		@media (max-width: $mobile) {
			pointer-events: none;
			position: absolute;
			top: 75%;
			left: toRem(10);
			justify-content: space-between;
			transform: translate(0px, -50%);
			width: calc(100% - 48px);
			left: 24px;
			z-index: 7;
			justify-content: space-between;
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	&__slider {
		position: relative;
	}
}
.slider-brends {
	&__slide {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 33, 15);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	&__image {
		position: relative;
		padding: 0px 0px 133% 0px;
	}
	&__image img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__text {
		font-weight: 400;
		line-height: 1.4;
	}
	&__card {
	}
}
//========================================================================================================================================================
.carte {
	position: relative;
	background-color: $bgColor;
	@include adaptiveValue("padding-top", 50, 20);
	@include adaptiveValue("padding-bottom", 50, 20);
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		@include adaptiveValue("gap", 90, 20, 0, $containerWidth, 767.98);
		@media (max-width: $mobile) {
			grid-template-columns: auto;
			gap: toRem(0);
		}
	}
	&__body {
		@include adaptiveValue("padding-left", 360, 0, 0, $containerWidth, 997.98);
	}
	&__label {
	}
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 45, 20);
		}
	}
	&__items {
	}
	&__item {
	}
	&__image {
		justify-self: end;
		img {
			max-width: 100%;
		}
		@media (max-width: $mobile) {
			margin-left: toRem(-15);
			margin-right: toRem(-15);
			justify-self: center;
		}
	}
	&__background {
	}
	&__back--image {
		position: absolute;
		z-index: 5;
		bottom: toRem(-200);
		left: 0;
		img {
			@include adaptiveValue("width", 265, 100);
			max-height: 100%;
			object-fit: cover;
			@media (max-width: em(1400)) {
				opacity: 0.8;
			}
		}
	}
}
.item-carte {
	&__content {
		display: flex;
		gap: toRem(5);
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}
	&__name {
		font-weight: 400;
		@include adaptiveValue("font-size", 20, 18);
		text-transform: capitalize;
	}
	&__line {
		flex: 1 1 auto;
		border-bottom: 1px solid #dee2bd;
	}
	&__price {
	}
	&__description {
		font-weight: 300;
		line-height: 1.5;
		font-size: toRem(16);
		text-transform: capitalize;
		@include adaptiveValue("margin-bottom", 40, 20);
	}
}
.price-carte {
	display: flex;
	@include adaptiveValue("font-size", 20, 18);
	&__currency {
		color: $brownColor;
	}
	&__value {
		color: $brownColor;
	}
}
//========================================================================================================================================================
.about {
	position: relative;
	background-color: $bgColor;
	@include adaptiveValue("padding-top", 50, 20);
	@include adaptiveValue("padding-bottom", 50, 20);
	&__container {
	}
	&__title {
		max-width: toRem(715);
		margin: 0 auto;
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 90, 15);
		}
	}
	&__body {
		display: grid;
		grid-template-columns: 1.2fr 1fr;
		@include adaptiveValue("gap", 81, 20, 0, $containerWidth, 767.98);
		align-items: center;
		@media (max-width: $mobile) {
			grid-template-columns: auto;
			gap: toRem(0);
		}
	}
	&__images {
		display: flex;
		@include adaptiveValue("gap", 45, 10);
		@media (max-width: $mobile) {
			order: 2;
		}
	}
	&__image {
		text-align: center;
		img {
			max-width: 100%;
		}
	}
	&__items {
		@media (max-width: $mobile) {
			order: 1;
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
	}
	&__item {
		@media (min-width: $tablet) {
			max-width: toRem(555);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}
	&__back--image {
		position: absolute;
		z-index: 5;
		bottom: 0;
		right: 0;
		img {
			@include adaptiveValue("width", 265, 100);
			max-height: 100%;
			object-fit: cover;
			@media (max-width: em(1400)) {
				opacity: 0.8;
			}
		}
	}
}
.item-about {
	&__title {
	}
	&__text {
	}
}
//========================================================================================================================================================
.bestseller {
	background-color: $bgColor;
	@include adaptiveValue("padding-top", 50, 20);
	@include adaptiveValue("padding-bottom", 70, 20);
	background-color: #eef0dc;
	&__container {
	}
	&__label {
		text-align: center;
	}
	&__title {
		max-width: toRem(600);
		margin: 0 auto;
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 73, 20);
		}
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: end;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
	&__items {
	}
	&__image {
		img {
			max-width: 100%;
		}
	}
}
.items-bestseller {
	display: flex;
	flex-direction: column;
	@include adaptiveValue("gap", 121, 50);

	@media (max-width: $mobile) {
		gap: toRem(25);
	}
	&--left {
	}
	&--right {
		align-items: end;
	}
}
.item-bestseller {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 31, 15);
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 toRem(87);
		height: toRem(87);
		width: toRem(87);
		padding: toRem(15);
		border-radius: 50%;
		border: solid toRem(2) $greenColor;
		img {
			max-width: 100%;
		}
		@media (max-width: $mobileSmall) {
			flex: 0 0 toRem(60);
			height: toRem(60);
			width: toRem(60);
		}
	}
	&__text {
		@include adaptiveValue("font-size", 30, 20, 0, $containerWidth, 767.98);
		font-weight: 500;
		line-height: normal;
		text-transform: capitalize;
		&--right {
			text-align: right;
		}
	}
}
//========================================================================================================================================================
.gallery {
	background-color: $bgColor;
	@include adaptiveValue("padding-top", 140, 40);
	@include adaptiveValue("padding-bottom", 26, 20);
	&__container {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 30);
		}
	}
	&__body {
		position: relative;
		@media (any-hover: none) {
			// тільки для мобільних, тач
			overflow: auto; // включення горизогтального скролу
			-webkit-overflow-scrolling: touch; // плавний скрол
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: toRem(20);
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: start;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 53, 20);
		}
	}
	&__title {
	}
	&__label {
	}
	&__button {
	}
	&__rows {
	}
	&__row {
	}
	&__content {
		max-width: toRem(1650);
	}
	&__items {
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: column; // щоб були колонки по всій ширині
		align-items: center;
		@include adaptiveValue("gap", 26, 10);
		@media (any-hover: hover) {
			&:hover {
				justify-content: center; // вирівняти контент по середині
			}
		}
	}
	&__item {
		@media (any-hover: hover) {
			img {
				transition: all 0.8s;
				filter: grayscale(1);
				max-width: 100%;
			}
			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}
	}
}
.row-gallery {
	&__image {
		img {
			max-width: 100%;
		}
	}
}
.row-gallery--top {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 53, 10);
	}
}
.row-gallery--center {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include adaptiveValue("gap", 53, 10);
}
//========================================================================================================================================================
.go-top {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("height", 60, 50);
	@include adaptiveValue("width", 60, 50);
	@include adaptiveValue("right", 75, 15);
	@include adaptiveValue("bottom", 100, 25);
	//top: 70%;
	cursor: pointer;
	padding: toRem(5);
	border-radius: 50%;
	fill: #eef0dc;
	border: toRem(3) solid rgb(125, 128, 106, 0.6);
	transition: all 0.3s;
	display: none;
	&--show {
		display: block;
	}
	@media (any-hover: hover) {
		&:hover {
			border: toRem(3) solid #d2d8a8;
			background-color: #d2d8a8;
			border: toRem(0);
		}
	}
}
//========================================================================================================================================================
